.vision-sidebar-body {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .attempts-container {
        flex-grow: 1;

        .attempts {
            display: flex;
            flex-wrap: wrap;
            gap: 0.75rem;

            .square {
                padding: 0.25rem 0.75rem;
                border-radius: 0.25rem;
            }

            .correct {
                background-color: var(--c-green);
            }

            .incorrect {
                background-color: var(--c-red);
            }
        }
    }
}

@media (width <= 1440px) {
    .vision-sidebar-body {
        padding: 1.5rem;
        .levels-container {
            display: grid;
            grid-template-columns: repeat(
                auto-fill,
                minmax(clamp(2.5rem, 1.269rem + 1.923vw, 3rem), 1fr)
            );
            grid-template-rows: repeat(
                auto-fill,
                minmax(clamp(2.5rem, 1.269rem + 1.923vw, 3rem), 1fr)
            );
            gap: 0.5rem;

            .level-btn {
                font-size: 1rem;
                font-size: clamp(0.75rem, 0rem + 1.563vw, 1rem);
                border-radius: clamp(0.75rem, 0.135rem + 0.962vw, 1rem);
            }
        }
    }
}

@media (width <= 1024px) {
    .vision-sidebar-body {
        padding: 0.75rem;

        .levels-container {
            grid-template-columns: repeat(
                auto-fill,
                minmax(clamp(2rem, 0.5rem + 3.125vw, 2.5rem), 1fr)
            );
            grid-template-rows: repeat(
                auto-fill,
                minmax(clamp(2rem, 0.5rem + 3.125vw, 2.5rem), 1fr)
            );
            gap: 0.5rem;

            .level-btn {
                font-size: 1rem;
                font-size: clamp(0.75rem, 0rem + 1.563vw, 1rem);
                border-radius: 0.75rem;
            }
        }

        .hint-container {
            .hint-text {
                font-size: 0.75rem;
            }
        }

        .buttons-container {
            button {
                font-size: 1rem;
                height: 2.5rem;

                img {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }
}

@media (width <= 768px) {
    .vision-sidebar-body {
        padding: 1rem;

        .levels-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
            gap: 0.5rem;

            .level-btn {
                font-size: 1.5rem;
                border-radius: 1rem;
            }
        }

        .buttons-container {
            button {
                font-size: 1rem;
                font-size: clamp(1rem, 0.38rem + 2.332vw, 1.5rem);
                height: 2.5rem;
                height: clamp(2.5rem, 1.88rem + 2.332vw, 3rem);
            }
        }
    }
}

@media (width <= 425px) {
    .vision-sidebar-body {
        padding: 1rem;

        .levels-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(3rem, 1fr));
            gap: 0.5rem;

            .level-btn {
                font-size: 1rem;
                border-radius: 1rem;
            }
        }

        .hint-container {
            .player-color {
                font-size: 1rem;

                .square {
                    height: 1rem;
                    width: 1rem;
                }
            }

            .hint-text {
                font-size: 1rem;
            }
        }

        .buttons-container {
            button {
                font-size: 1rem;

                img {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }
}
