.accordion {
    background-color: var(--c-primary-light-1);
    border: 1px solid var(--c-secondary-dark);
    border-radius: 1rem;
    color: var(--c-secondary);
    display: flex;
    flex-direction: column;

    .card {
        cursor: pointer;
        padding: 1.5rem 1.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .difficulty {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 2rem;
        }
    }
    .hidden-inner {
        height: 0;
        overflow: hidden;
        padding: 0rem 1.75rem;

        .course-cards-container {
            display: flex;
            flex-direction: column;
            padding-bottom: 1.75rem;
            padding-top: 0.5rem;
            gap: 1rem;
        }
    }
}
