.home-page {
    font-family: "Geist";

    /* Navbar */
    .nav-container {
        height: 128px;
        display: flex;
        justify-content: end;
        align-items: end;
        position: fixed;
        width: 100%;
        padding: 0rem 3.75rem;
        top: 0;
        z-index: 25;

        nav {
            display: flex;
            background-color: var(--c-secondary);
            width: 670px;
            border-radius: 0.5rem;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            font-size: 1.25rem;

            .logo {
                font-weight: bold;
                font-size: 1.5rem;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: var(--c-accent);
                    color: var(--c-secondary);
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding: 0.75rem 2rem;
                    border-radius: 0.5rem;
                    align-self: flex-start;
                }
            }
        }
    }
}
