.visualization-section {
    height: 100dvh;
    background-color: var(--c-primary);
    position: relative;

    .text-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--c-secondary);
        font-size: 5.75rem;
        font-weight: 700;
        letter-spacing: -1%;
        position: absolute;
        padding: 5.5rem;
    }

    .body-wrapper {
        padding-top: 5.5rem;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;

        .img-container {
            position: relative;
            height: 90%;
            max-height: 800px;

            img {
                /* object-fit: contain; */
                height: 100%;
                width: 100%;
            }

            .move {
                position: absolute;
                color: var(--c-secondary);
                font-size: 4rem;
            }
        }

        .visualization-image {
            display: none;
        }
    }
}

@media (width <= 1440px) {
    .visualization-section {
        .text-wrapper {
            font-size: 5rem;
            font-size: clamp(4.5rem, 1.423rem + 4.808vw, 5.75rem);
        }
        .body-wrapper {
            .img-container {
                .move {
                    font-size: 3rem;
                    font-size: clamp(2.5rem, -1.192rem + 5.769vw, 4rem);
                }
            }
        }
    }
}

@media (width <= 1024px) {
    .visualization-section {
        .text-wrapper {
            font-size: 3rem;
            font-size: clamp(2.75rem, -0.25rem + 6.25vw, 3.75rem);
        }

        .body-wrapper {
            .img-container {
                height: 80%;
            }
        }
    }
}

@media (width <= 768px) {
    .visualization-section {
        height: auto;
        padding: 0rem 2rem;
        padding-top: 4rem;
        padding-top: clamp(4rem, 1.522rem + 9.329vw, 6rem);
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .text-wrapper {
            position: static;
            padding: 0;
            font-size: 2.25rem;
            font-size: clamp(2rem, 1.071rem + 3.499vw, 2.75rem);
        }

        .body-wrapper {
            position: static;
            padding: 0;

            .img-container {
                display: none;
            }
            .visualization-image {
                display: block;
                width: 80%;
            }
        }
    }
}

@media (width <= 425px) {
    .visualization-section {
        padding: 0rem 0.75rem;
        padding-top: 4.5rem;
        padding-top: clamp(4rem, 0.952rem + 15.238vw, 5rem);
        gap: 4rem;

        .text-wrapper {
            font-size: clamp(1.5rem, -0.024rem + 7.619vw, 2rem);
        }

        .body-wrapper {
            .visualization-image {
                width: 90%;
            }
        }
    }
}
