:root {
    --c-primary: hsl(245, 56%, 8%);
    --c-primary-light: hsl(245, 56%, 25%);
    --c-primary-light-1: hsl(245, 30%, 15%);
    --c-primary-light-2: hsl(245, 20%, 15%);
    --c-navbar: hsl(245, 45%, 13%);
    --c-secondary: hsl(0, 0%, 90%);
    --c-secondary-dark: hsl(0, 0%, 75%);
    --c-secondary-dark-1: hsl(0, 0%, 60%);
    --c-secondary-dark-2: hsl(0, 0%, 50%);
    --c-secondary-dark-3: hsl(0, 0%, 40%);
    --c-accent: hsl(177, 74%, 35%);
    --c-accent-dark: hsl(177, 74%, 30%);
    --c-green: hsl(110, 42%, 45%);
    --c-red: hsl(0, 100%, 53%);
    --c-highlight: hsl(240, 100%, 89%);
    --c-dark-square: hsl(209, 34%, 45%);
    --c-light-square: hsl(58, 36%, 87%);
}

/* geist-regular */
@font-face {
    font-display: swap;
    font-family: "Geist";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/geist-v5-latin-regular.woff2") format("woff2");
}

/* geist-500 - latin */
@font-face {
    font-display: swap;
    font-family: "Geist";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/geist-v5-latin-500.woff2") format("woff2");
}

/* geist-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Geist";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/geist-v5-latin-700.woff2") format("woff2");
}

/* geist-800 - latin */
@font-face {
    font-display: swap;
    font-family: "Geist";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/geist-v5-latin-800.woff2") format("woff2");
}

/* geist-900 - latin */
@font-face {
    font-display: swap;
    font-family: "Geist";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/geist-v5-latin-900.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}
