.popup-menu {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-secondary-dark-2);
    width: 8rem;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    li {
        padding: 0.25rem;
        width: 100%;
        border-radius: 0.25rem;
    }

    .selected {
        background-color: var(--c-secondary-dark-1);
    }
}
