.chessboard-container {
    aspect-ratio: 1/1;
    height: 100%;
    position: relative;

    .display {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 7rem;
        color: var(--c-secondary-dark);
        z-index: 2;
        pointer-events: none;
    }

    .chessboard {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 1.25rem;
        overflow: hidden;

        .rank {
            display: flex;

            .square {
                width: 12.5%;
                aspect-ratio: 1/1;
            }

            .light {
                background-color: white;
            }

            .dark {
                background-color: black;
            }
        }

        .piece {
            position: absolute;
            top: 0;
            width: 12.5%;
            height: 12.5%;
            background-color: blue;

            img {
                width: 100%;
                height: 100%;
            }
        }
        #black-knight {
            transform: translate(100%, 0);
        }
    }

    .white {
        rotate: 0deg;
    }

    .black {
        rotate: 180deg;
    }
}
