.chessboard-container {
    aspect-ratio: 1/1;
    height: 100%;
    position: relative;

    .randomSquareDisplay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 7rem;
        color: var(--c-secondary);
        z-index: 2;
        pointer-events: none;
    }

    .chessboard {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 1.25rem;
        overflow: hidden;

        .rank {
            display: flex;

            .square {
                width: 12.5%;
                aspect-ratio: 1/1;
            }

            .light {
                background-color: white;
            }

            .dark {
                background-color: black;
            }
        }
    }

    .white {
        rotate: 0deg;
    }

    .black {
        rotate: 180deg;
    }
}
